@charset "utf-8";
body { 
margin: 0;
}

header{
  padding: 32px 0;
  background-color: #eee;
text-align: center;
}

header > img{
  border-radius: 50%;
}

h1{
  margin: 16px 0 0;
  font-weight: normal;
  font-size: 24px;
}

p{
  margin: 0;
}

h2{margin: 0;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

h3{margin: 16px 0 0;
  font-size: 20px;
  font-weight: normal;
}

section{
  width: 400px;
  margin: 64px auto 0;
}

section p{
  margin-top: 16px;
  line-height: 1.8;
}

main{
  padding:64px 0;
}

footer{
  border-top: 1px solid #ccc;
}

footer{
  text-align: center;
  padding: 64px 0;
}

small{
  font-size:14px ;
  color: #aaa;
}

footer img{
  margin-top: 16px;
}

a:hover{
  opacity: 0.7;
}